<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="IDUL-JOHA:- Dot Net Web Developer">
    <meta name="keywords" content="all define the related documents">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDUL-JOHA:- Dot Net Web Developer Portfolio</title>

    <link rel="stylesheet" href="/Bootstrap/style/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><span>IDUL JOHA - PORTFOLIO </span></a>
            <div class="navbar-toggler" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon1"> </span>
                <span class="navbar-toggler-icon2"> </span>
                <span class="navbar-toggler-icon3"> </span>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-20 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experience">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
 

    <!-- Main Content -->


    <div class="container py-5" id="home">
        <!-- Hero Section -->

       <div class="row">
            <div class="col-md-7">
                <div class="information text-info" id="typewriter">
                    <h1>Welcome to my Portfolio</h1>

                    <h1>Hi, I'm Iduljoha</h1>
                    <h2>I'm a .NET Developer</h2>
                    <p>Experienced .NET Developer showcasing projects and skills.</p>
                    <a href="#about" class="btn btn-info">Learn More</a>
                    <a href="#about" class="btn btn-info"> Projects </a>
                </div>

            </div>
            <div class="col-md-5">
                <div class="idul-img" id="typewriter">
                    <img src="/images/iduljoha_pic.jpg" class="img-fluid" alt="Profile Picture">
                </div>
              
            </div>
        </div>
    </div>
<hr class="solid"/>
    <!-- About Section -->
    <section class="about">
        <div class="container py-5" id="about">
            <div class="about text-info">
    
    
                <h1>About Me</h1>
              <hr/>
              <div class="row">
                <div class="col-md-4">
                    <div class="image">
                        <img src="/images/Tech-Image.png" alt="Profile Picture" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-8">
                    <strong>
                        Introduction
                    </strong>
    
                  <p> Hello! My name is Idul Joha, originally from Ballia, Uttar Pradesh. I completed my schooling in Ballia and graduated from Integral University in Lucknow. Currently, I reside in Mumbai.
                  
                </p>
                
                <a href="about.html" class="btn btn-info"> More - Inf </a>
                </div>
               
              </div>
               
                <br/>
                <strong>
                    Professional Background:
                </strong>

              <p> I have over 3.8 years of experience in the IT industry. Currently, I am employed as a Third-Party Payroll Associate at AI Airport Services Limited, where I have been working for the past 1.8 years.
              </p>
                <div class=" row" id="skills">
                    <div class="col-md-6">
                        <h3>Technical Skills</h3>
                        <ol>

                            <li> - HTML</li>
                            <li> - CSS</li>
                            <li> - JavaScript</li>
                            <li> - jQuery</li>
                            <li> - Bootstrap 5</li>
                            <li> - ASP.NET MVC</li>
                            <li> - SQL</li>
                            <li> - Responsive Web Design</li>
                            <li> - Web Development</li>
                            <li> - Problem Solving</li>
                            <li> - Team Collaboration
            
                            </li>
                        </ol>
                    </div>
                    <div class="col-md-6">
                        <h3>Education</h3>

              <p> <strong>Bachelor of Computer Applications (BCA) <br />
                Integral University, <br />
                Lucknow,<br />
                India Completed Year (e.g., 2018) 
                Parcentage (74.33)
            </strong></p>
            <p><strong>Intermediate (10+2) <br />
                Uttar Pradesh Examination Board, <br />
              
                India Completed Year (e.g., 2015) 
                Parcentage (58.33)
            </strong></p>
            <p><strong>hight School (10th) <br />
                Uttar Pradesh Examination Board , <br />
               
                India Completed Year (e.g., 2013) 
                 Parcentage (70.33)
            </strong></p>
            
                    </div>
                </div>
    
            </div>
        </div>
    </section>

   

    <!-- Projects Section -->
    <section class="pro">
        <div class="container py-5" id="projects">
            <h1>  Projects - </h1>
            <hr/>
            <!-- Display projects here with descriptions -->
          <div class="row">
          <div class="col-md-8" id="project1">
            <h3> 1. AIASL Website</h3>
            <strong>Description:</strong> 
             <p>Developed a responsive website for AIASL (Example Company) to showcase services and
            information about the company.</p>
             <strong> Role: Front-end Developer</strong><br/>
            <strong> Responsibilities: </strong>
             <p> Designed and implemented user interfaces using HTML, CSS, and JavaScript.
             Integrated animations and interactive features using jQuery.
             Ensured cross-browser compatibility and responsive design using Bootstrap.</p>
            
            <strong> Technologies Used:- </strong>
             HTML,
             CSS,
             JavaScript,
             jQuery, 
             Bootstrap<br/>
           <strong>Achievements: </strong>
            - Improved website performance and user experience through optimized code.

          </div>
          <div class="col-md-4" >
            <div class="image">
               
            </div>
          </div>
          <br/>
           <div class="col-md-8"id="project2">
            <h3>2. AIAHL Website</h3>
            <strong> Description:</strong>
            <p> Created a dynamic website for AIAHL (Another Example Company) to promote products and
            services in the aviation industry.</p>
            <strong> Role: Full-stack Developer</strong><br/>
            <strong> Responsibilities:</strong>
            <p>- Developed front-end and back-end functionalities using ASP.NET MVC framework.
             Implemented database management with SQL Server for data storage and retrieval.
             Collaborated with design team to integrate custom UI components and layouts.</p>
            <Strong> Technologies Used:- </Strong> HTML, CSS, JavaScript, ASP.NET MVC, SQL Server <br/>
            <strong> Achievements:- </strong>
           <p>Successfully launched the website within project timeline and budget constraints.</p>

           </div>
           <div class="col-md-4">

           </div>
            
           <div class="col-md-12" id="project3">
            <h3>3. Hazard Reporting System</h3>
            <strong> Description:</strong>
                <p> Designed and developed a hazard reporting system for tracking and managing workplace
            hazards.</p>
             <strong> Role:</strong> Lead Developer <br/>
             <strong>Responsibilities:</strong>
            <p> Conducted requirements analysis and system design based on client specifications.
             Implemented front-end user interface and back-end functionality using AngularJS and Node.js.
             Integrated real-time reporting features and notification alerts for stakeholders.</p>
            <strong>Technologies Used:</strong>HTML, CSS, JavaScript, AngularJS, Node.js <br/>
             <strong>Achievements:</strong>
            <p>Received positive feedback from stakeholders for the system's effectiveness and usability.</p>

        </div>
       
        </div>
    </section>


    <!-- Experience Section -->
    <section class="exp">
        <div class="container text-info py-5" id="experience">
            <h1>Experience</h1>
            <hr/>
            <h4> Fronend Developer </h4>
            <strong> Global Institute Of Information. (Delhi,India )
                 
                  </strong><br/>
            <strong> Duration: Month Year - Month Year (e.g., Jun 2019 - Apr 2021)</strong> <br/>

            <p> Developed responsive web applications using HTML, CSS, JavaScript, and jQuery.
            <p> Implemented front-end frameworks like Bootstrap 5 to enhance UI/UX.</p>
            <p> Managed project and web strategic planning for entire team.</p>
          <p>  Built reusable code to utilise for other projects and to minimise costs.</p>
           <p> Scheduled meetings with clients to discuss website design preference and requirements.</p>
            <p> Collaborated with design and development teams to deliver high-quality projects on time.</p>
            <p> Conducted code reviews and optimized website performance to improve user experience.</p>
            <p> Successfully deployed multiple projects from development to production.</p>

          

            <!-- Display work experience details -->
            <h4> Web Developer</h4>
            <strong> AI Airport Services Ltd. (Mumbai,India )
                 
                  </strong><br/>
            <strong> Duration: Month Year - Month Year (e.g., Jan 2020 - Present)</strong>

            <p> Developed responsive web applications using HTML, CSS, JavaScript, and jQuery.
            <p> Implemented front-end frameworks like Bootstrap 5 to enhance UI/UX.</p>
            <p> Utilized ASP.NET MVC for server-side development and SQL for database management.</p>
            <p> Collaborated with design and development teams to deliver high-quality projects on time.</p>
            <p> Conducted code reviews and optimized website performance to improve user experience.</p>
            <p> Successfully deployed multiple projects from development to production.</p>

            

            

           
           

        </div>
    </section>


    <!-- Contact Section -->
    <section class="section-contect">
        <div class="container py-5" id="contact">
            <div class="contect text-info">
                <h1>Contact Me</h1>
                <hr/>
                <div class="row">
                  
                    <div class="col-md-6">

                        <p>Name: IDUL JOHA </p>

                        <p><i class="fas fa-envelope"></i> Email: iduljoha@gmail.com</p>
                        <p> <i class="fa fa-phone"></i> Phone: +(91) 81141530088</p>

                        <p> <i class="fa fa-map-marker"></i> Address: 123 Mumbai , City, Indian</p>





                        <a class="icon" href="https://www.linkedin.com/in/idul-joha-500"> <i class="fab fa-linkedin"></i> <!-- LinkedIn icon --> </a>
                        <a class="whatshap-icon" href="https://chat.whatsapp.com/BDosMCx0d9R9ahAR6nIKVw"> <i class="fab fa-whatsapp"></i> <!-- WhatsApp icon --></a>

                        <a class="github-icon" href="https://github.com/iduljoha/iduljoha"><i class="fab fa-github"></i> <!-- GitHub icon --> </a>

                        <!-- Envelope icon -->



                    </div>
                    <div class="col-md-6">
                        <form action="">
                            Name <input type="text" name="name" id="name" class="form-control">
                            Email <input type="email" name="email" id="email" class="form-control">

                            Message <textarea name="message" id="message" class="form-control"></textarea>
                            <input type="submit" value="Send" class="btn btn-primary " id="send">
                        </form>
                    </div>
                </div>

                <!-- Add contact form or additional contact information -->
            </div>

        </div>

    </section>

    <!-- Footer -->
    <footer class="text-center py-3">
        <p>&copy; 2024 Idul Joha | All rights reserved</p>
    </footer>

    <!--*****************************Link to Bootstrap5.js**********************************-->
    <script src="/Bootstrap/js/bootstrap.min.js"></script>
    <!--*****************************Link to Bootstrap5.js**********************************-->
    <script src="/Bootstrap/js/jquery-3.6.3.min.js"></script>


    
    <script>
        $(document).ready(function(){
            $('.navbar-toggler').click(function(){
                $('.navbar-toggler').toggleClass('change');
            });
        });
        
       
  

   
</script>
</body>

</html>